
Population/.idea/encodings.xml
Population/.idea/misc.xml
Population/.idea/uiDesigner.xml
Population/.mvn/wrapper/maven-wrapper.jar
Population/.mvn/wrapper/maven-wrapper.properties
Population/local_history.patch
Population/mvnw
Population/mvnw.cmd
Population/pom.xml
Population/src/main/java/com/ttchoa22ite/population/controllers/home/HomeController.java
Population/src/main/java/com/ttchoa22ite/population/controllers/home/ResidentController.java
Population/src/main/java/com/ttchoa22ite/population/controllers/login/LoginAdmin.java
Population/src/main/java/com/ttchoa22ite/population/controllers/login/LoginUser.java
Population/src/main/java/com/ttchoa22ite/population/DAO/ResidentDAO.java
Population/src/main/java/com/ttchoa22ite/population/Main.java
Population/src/main/java/com/ttchoa22ite/population/models/Admin.java
Population/src/main/java/com/ttchoa22ite/population/models/Resident.java
Population/src/main/java/com/ttchoa22ite/population/utils/ConnectionDB.java
Population/src/main/java/module-info.java
Population/src/main/resources/com/ttchoa22ite/population/controllers.home/resident.fxml
Population/src/main/resources/com/ttchoa22ite/population/controllers/login/home.fxml
Population/src/main/resources/com/ttchoa22ite/population/css/HomeStyling.css
Population/src/main/resources/com/ttchoa22ite/population/css/login/Admin.css
Population/src/main/resources/com/ttchoa22ite/population/icon/home/ad.png
Population/src/main/resources/com/ttchoa22ite/population/icon/home/census.png
Population/src/main/resources/com/ttchoa22ite/population/icon/home/chart.png
Population/src/main/resources/com/ttchoa22ite/population/icon/home/city.png
Population/src/main/resources/com/ttchoa22ite/population/icon/home/contact.png
Population/src/main/resources/com/ttchoa22ite/population/icon/home/demographic.png
Population/src/main/resources/com/ttchoa22ite/population/icon/home/hoa.jpg
Population/src/main/resources/com/ttchoa22ite/population/icon/home/home.png
Population/src/main/resources/com/ttchoa22ite/population/icon/home/icons8-combo-chart-100.png
Population/src/main/resources/com/ttchoa22ite/population/icon/home/icons8-combo-chart-64.png
Population/src/main/resources/com/ttchoa22ite/population/icon/home/icons8-create-80.png
Population/src/main/resources/com/ttchoa22ite/population/icon/home/icons8-join-80.png
Population/src/main/resources/com/ttchoa22ite/population/icon/home/icons8-search-contacts-80.png
Population/src/main/resources/com/ttchoa22ite/population/icon/home/logout.png
Population/src/main/resources/com/ttchoa22ite/population/icon/home/permanan.png
Population/src/main/resources/com/ttchoa22ite/population/icon/home/population.png
Population/src/main/resources/com/ttchoa22ite/population/icon/home/tt.png
Population/src/main/resources/com/ttchoa22ite/population/icon/login/family.png
Population/src/main/resources/com/ttchoa22ite/population/icon/login/population.png
Population/src/main/resources/com/ttchoa22ite/population/icon/login/singin.png
Population/src/main/resources/com/ttchoa22ite/population/icon/login/team.png
Population/src/main/resources/com/ttchoa22ite/population/loginAdmin.fxml
